<h1 mat-dialog-title>
  <span *ngIf="data.editMode">
    Edit Team Information
  </span>
  <span *ngIf="!data.editMode">
    New Team
  </span>

</h1>
<mat-dialog-content style="display: flex; flex-direction: column;">
  <mat-form-field>
    <input matInput #teamName [(ngModel)]="data.teamName" cdkFocusInitial
           placeholder="Team name {{(teamName.value?.length || 0) > 0 ? '':'(e.g MegaWinners)'}}" required>
  </mat-form-field>

  <mat-form-field>
    <input #contactName matInput [(ngModel)]="data.contactName"
           placeholder="Contact Person Name {{(contactName.value?.length || 0) > 0 ? '':'(e.g Olle Mantuki)'}}"
           size="40" required>
  </mat-form-field>
  <mat-form-field>
    <input #contacts matInput [(ngModel)]="data.contacts"
           placeholder="Contact {{(contacts.value?.length || 0) > 0 ? '':'(e.g skype:olle olle@gmail.com telegram:olle etc)'}}"
           style="width: 500px" required>
  </mat-form-field>
  <mat-form-field>
    <input #teamPageURL matInput [(ngModel)]="data.teamPageURL" placeholder="Team page URL" style="width: 500px">
  </mat-form-field>
  <mat-form-field>
    <textarea #description matInput [(ngModel)]="data.description"
              placeholder="Description (multiline) {{(description.value?.length || 0) > 0 ? '':' - team size, languages, ages, positions, whatever'}}"
              cols="40" rows="4" cdkTextareaAutosize></textarea>
  </mat-form-field>
  <mat-form-field *ngIf="data.editMode">
    <input matInput [(ngModel)]="data.finalStanding" placeholder="Final standing">
  </mat-form-field>
  <mat-form-field *ngIf="data.editMode">
    <input matInput [(ngModel)]="data.writeupURL" placeholder="Writeup URL">
  </mat-form-field>
  <mat-form-field *ngIf="data.editMode">
    <input matInput [(ngModel)]="data.key" placeholder="Key (for edit)" required>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>

  <button *ngIf="data.editMode" mat-button (click)="deleteTeam()">Delete team</button>

  <button mat-button (click)="validateAndClose()">
    <span *ngIf="data.editMode">
      Update team
    </span>
    <span *ngIf="!data.editMode">
      Create team
    </span>
  </button>

</mat-dialog-actions>
